/*

My Custom CSS
=============

/* --------------------------------------
   D3
   -------------------------------------- */
   svg
   {
      background: antiquewhite;
      margin-left:auto;
      margin-right:auto;
      display: block;
   }

   .axis path, .axis line
   {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
   }

   .pieText
   {
      border: dashed;
      stroke: blue;
   }
/* --------------------------------------
   Layout
   -------------------------------------- */

/* --------------------------------------
   Typography
   -------------------------------------- */

/* --------------------------------------
   Navbar
   -------------------------------------- */

/* --------------------------------------
   Carousel
   -------------------------------------- */

/* --------------------------------------
   Interestin Topics
   -------------------------------------- */

/* --------------------------------------
   About us
   -------------------------------------- */

/* --------------------------------------
   Footer
   -------------------------------------- */

/* --------------------------------------
   Global Styles
   -------------------------------------- */

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
   	
}

/* Large desktop */
@media (min-width: 1200px) {
   
}